<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
     <form method="post"action="/user/delete">
        <input placeholder="enter username"name="email" type="email"/><br> 
         <input text="number" placeholder="PAssword" name="password"/>
        <button>Delete</button>    
    </form>
</body>
</html>